{% block split_wrapper %}
    <div class="split-wrapper">
        {% block split_container %}
            <div class="split-container">
                {% block split_content %}{% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}