<header id="main-header" class="w-full">
	<div class="container">
		<div class="header-current-issue">
			image and link to current issue
		</div>

		<div class="header-logo">
			header-logo
		</div>

		<div class="header-actions">
			login/subscribe
		</div>
	</div>
	<div class="header-navigation">
		<div class="container">
			header-navigation
		</div>
	</div>
</header>
